<!DOCTYPE html>
<html lang="en" ng-app="gitstats">
    <head>
        <meta charset="utf-8">
        <title>Hook Stats</title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
    <body class="ng-cloak" ng-controller="FetcherCtrl">
        <div class="span7">
            <table class="table table-bordered">
                <h3>Pushes</h3>
                <thead>
                    <tr>
                        <th>pusher</th>
                        <th>repository</th>
                        <th>time</th>
                        <th>commits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="push in pushes">
                        <td>{{push.attributes.pusher.email.split('@')[0]}}</td>
                        <td>{{push.attributes.repository.url}}</td>
                        <td>{{push.createdAt | date:'h:mm:s a M/d/yy'}}</td>
                        <td>{{push.attributes.commits.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4 offset1" ng-repeat="(email, user) in users">
            <h3>{{email}}</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>branch</th>
                        <th>time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in user">
                        <td>{{c.attributes.branch_name}}</td>
                        <td>{{c.createdAt | date:'h:mm:s a M/d/yy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.1.16.min.js"></script>
        <script src="services.js"></script>
        <script>
            angular.module('gitstats', ['DataServices']);
        </script>
        <script src="app.js"></script>
    </body>
</html>
